.slides-container {
  display: flex;
  padding: 0;
  width: 100%;
  height: 82vh;
  background: #f8fafc;
}

.slides-list {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-left: 0;
  padding-top: 0;
  list-style-type: none;
  max-height: 80vh;
  overflow-y: scroll;
}
